/* Home Styling */

@media screen and (min-width: 300px){
     header{
        background-color: rgb(194, 182, 194);
        padding: 20px;  
        height: 170px;  
        width: 100%;
    }
    .logoImage{
        border-radius: 50%;
      height: 50px;
       width: 50px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .search{
      width:fit-content;
      border-radius: 10px;
      border: none;
      padding: 20px;
      
    }
    .search-div{
       align-items: center;
       place-content: center;
    }
   
    .categories{
        display:  none;
    }
    .other-options{
        display: flex;
        gap: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
   .newIn, .featured{
    overflow: scroll;
   scroll-behavior: smooth;
   scrollbar-width: 40px;    
   justify-content: start;
   }
   .mainProducts{
       flex-direction: column;
       margin-right: 60px; 
       margin-top: 40px;
   }
   .description1{
  display: flex;
  flex-direction: column;
   }
   .nicheItems{
   margin-bottom: 10px;
   }
   .info{
    flex-direction: column;
   }
   .buttonFlex{
   display: flex;
   gap: 20px;
   margin-bottom: 6px;
}
/* Cart display */
.cart-header-flex{
    gap: 30px;
    font-size: small;
}
.cartheader-div{
 gap: 14rem;
}
.cart-header-flex>:first-child{
    padding-right: 2rem
}
.cartmain{
 margin-left: 30px;
 margin-top: 30px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
}
.cartImageName{
    flex-direction: column;
    margin-bottom: 10px; 
}
.cartImageName > img{
    width:70px;
    height: 70px;
}
.cartRemove{
  margin-right: 4rem; 
  cursor: pointer;
  border: none;
}
.cartquantity, .cartPrice{
    margin-right: 40px;
}
.cartSummary{
  left: 0;
 margin-top: 30px;
 width: 310px;
}
.checkout-button{
    width: 244px;
}

}
@media screen and (min-width: 420px) {
    header{
        background-color: rgb(230, 171, 230);
        padding: 20px;  
        height: 170px;  
        width: 100%;
    }
    .logoImage{
        border-radius: 50%;
      height: 50px;
       width: 50px;
    }
    a{
        color: black;
        text-decoration: none;
    }
    .search{
      width:250px;
      border-radius: 10px;
      border: none;
      padding: 20px;
      margin-left: 50px;
      margin-top: 4rem;
    }
   
    .categories{
        display:  none;
    }
    .other-options{
        display: flex;
        gap: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }
   .newIn, .featured{
    overflow: scroll;
   scroll-behavior: smooth;
   scrollbar-width: 40px;    
   justify-content: start;
   }
   .mainProducts{
       flex-direction: column;
       margin-right: 60px; 
       margin-top: 40px;
   }
   .description1{
  display: flex;
  flex-direction: column;
   }
   .nicheItems{
   margin-bottom: 10px;
   }
   .info{
    flex-direction: column;
   }

   .buttonFlex{
   display: flex;
   gap: 20px;
   margin-bottom: 6px;
}
/* Cart display */
.cart-header-flex{
    gap: 30px;
}
.cart-header-flex>:first-child{
    padding-right: 0.2rem
}
.cartmain{
 margin-left: 30px;
 margin-top: 30px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
}
.cartImageName{
    flex-direction: column;
    margin-bottom: 10px; 
}
.cartRemove{
  margin-right: 5rem; 
  cursor: pointer;
  border: none;
}
.cartquantity, .cartPrice{
    margin-right: 40px;
}
.cartSummary{
  left: 0;
 margin-top: 30px;
 width: 360px;
}

}
/* MEDUIM SCREEN QUERY */
  @media screen and (min-width:577px){
    header{
        display: flex;
        justify-content: space-between;
        background-color: #ffffff;
        padding: 30px;
        width: 100%;
    } 
    
    
    .categories{
        height: 30px;
        border: none;
        background-color: #ffffff;
        position: absolute;
        left: 30%;
    }

    .search{
        background-color: rgb(247, 244, 244);
        border: none;
        border-radius: 50px;
        padding: 20px;
        margin-top: 5rem;
        width:90%;
    }
    .search-div{
      display: flex;
      place-content: center;
      justify-content: center;
      width: 50rem;
    }
    
    .logoImage{
       border-radius: 50px; 
    }
    .logoCaption{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
        font-style: italic;
    }
    .other-options{
        display: flex;
        gap: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    } 
 
  .info{
    gap: 2rem;
    flex-direction: row;
  } 
    .newIn, .featured{
    overflow: scroll;
   scroll-behavior: smooth;
   scrollbar-width: none;    
   justify-content: start;
   }
   .cart-header-flex{
    gap: 20px;
}
.cart-header-flex>:first-child{
    padding-right: 2rem
}
.cartmain{
 margin-left: 30px;
 margin-top: 30px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
}
.cartImageName{
    flex-direction: column;
    margin-bottom: 10px; 
}
.cartRemove{
  margin-right: 6rem; 
  cursor: pointer;
  border: none;
}
.cartquantity, .cartPrice{
    margin-right: 40px;
}
.cartSummary{
  left: 0;
 margin-top: 30px;
 width: 360px;
}
    
} 
@media screen and (min-width: 960px){
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
} 
/* Home styling */
header{
        display: flex;
        justify-content: space-between;
        background-color: pink;
        padding: 30px;
    } 
    .categories{
        height: 30px;
        border: none;
        background-color: pink;
    }
    
    .search{
        background-color: rgb(247, 244, 244);
        height: 30px; 
        width: 70%;
        border: none;
        border-radius: 50px;
        padding: 20px;
    }
    .search-div{
        width: 50rem;
    }
    
    .logoImage{
       border-radius: 50px; 
    }
    .logoCaption{
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: larger;
        font-style: italic;
    }
    .other-options{
        display: flex;
        gap: 20px;
        position: absolute;
        top: 20px;
        right: 20px;
    }

a{
    text-decoration: none;
    color: black;
}
.headerImages{
    /* display:block; */
    padding-left: 100px;
    padding-right: 100px;
    transform: rotate(34px, 8px);
    border: solid black 10px;
    border-left: 20px;
    border-right: 20px;
    /*transform: translatex(-100%);
      transition: transform 4s ease-in-out */;
    animation: slide 4s ease-in-out 100;
    position: relative;
    
}
@keyframes slide { 
    33%{
       background-color: black;
    }
}
.homeImag{
    width: 100%;
    height: 20rem;
    animation: slideP 3s ease-in-out 200;
}; 

@keyframes slideP {
    43%{
        transform: translateX(-100%);
    }
}

/* Media query header */

/* @media screen and (max-width:375px){
   body{
    width: auto;
    background-color: blue;
   }  
} */


/* Main products styling */
.animation-practice{
    position:absolute;
    left: 1%;
    color: white;
    height: 100%;
    width: 20%;
    background-color: blue;   
    animation: animation 1s ease-in-out;
    display: none;
}

@keyframes animation {
    0%{
      left:-40%;
    }  
}

.addNotification{
    background-color: black;
    color: white;
    border-radius: 50px;
    padding: 20px;
    position: sticky;
    top: 40px;
    left:50%;
    animation:  addNotification 1s 1 ease-in forwards;
    display: none;
    /* transform: rotate(30deg) */
}
@keyframes addNotification{
    100%{
       background-color: white; 
    }
}



.mainhome{
padding: 20px;
}
.mainProducts{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    padding-left: 5rem;
}


.nicheItems{
    border: 2px solid rgb(243, 239, 239);
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 4px;
    justify-items: center;
}
.productName{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(82, 4, 4);
}
.cartButton
{                                                                                                                     
    display: flex;
    
}
.productButton{ 
background-color: white;
color: black;
margin-right: 20px;
padding: 2px;
cursor: pointer;
border: solid 2px;
}

.productButton:hover{
    background-color: black;
    color: white;
}
.Button{
    padding: 5px;
    background-color: black;
    color: white;
    border: solid 2px black;
}
.incDecNum{
    background-color: black;
    color: white;
    padding-top:5px;
}
/* NewIn styling */
.newIn, .featured{
    display:flex;
    column-gap: 20px;
    padding-top: 40px;
    justify-content: center;
}
.newinItems{
    border: 2px solid rgb(243, 239, 239);
    border-radius: 10px;
    margin-right: 3px;
    margin-left: 3px;
    padding: 4px;
    justify-items: center;
    width: 250px;
    height: 400px; 
}
 .newinproductName{
    font-size: larger;
}
 .image{
width: 200px;
height: 300px;
}
/* Featured styling */
/* Best sellers */
/* Deals */
.footer{
    background-color: black;
    color: white;
    padding-top: 5rem; 
    padding-left: 2rem;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}
.footer a{
    color: white;
}
.info{
    display: flex;
    flex-direction: row;
    position: relative;
    bottom: 40px;
    gap: 10rem;
    
}
.aboutUs, .contactUs{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.copyRight{
 text-align: center;
}
.social{
    display: flex;
    gap: 10px;
}
.socialHead{
text-align: center;
}
.footer a:hover{
     color: rgb(87, 87, 121);
     font-size:large;
     transition: font-size ease-in 0.1s;
}

/* Cart Styling */
.cartmain{
 margin-left: 100px;
 margin-right: 100px;
 margin-top: 30px;
 margin-bottom: 20px;
 display: flex;
 flex-direction: column;
}

.cartheader-div{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;   
}

.cartheader{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 25px;
}

.clearcart{
   color: rgb(32, 27, 21);
   border: none;
   background-color: white;
   cursor: pointer;
}

.cart-header-flex{
   display: grid;
   grid-template-columns:  1fr 1fr 1fr 1fr; 
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   font-size: large;
   font-weight: bold;
}
.cart-header-flex>:first-child{
    padding-right: 20rem;
}
/* Cart Summary */
.cartSummary{
  font-weight: bold;  
  border: 2px solid rgb(245, 240, 240); 
  border-radius: 5px;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px;
  position: relative;
  left: 60%;
}
.checkout-button{
   width: 300px;
   height: 40px;
   cursor: pointer;
   background-color: black;
   color: white;
   border-radius: 5px;
   font-weight: bold;
}
.checkout-button:hover{
    background-color: white;
    color: black;
}
/* cart Items */
.cart-items{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    margin-top: 5px; 
    align-items: center;
}

.cartImageName{
   display: flex;
   gap: 10px;
}

.cartRemove{
  margin-right: 24rem; 
  cursor: pointer;
  border: none;
}

.cartquantity{
  display: flex;
  height: 30px;
}
.quantityadd, .cartQuantity{
    width: 20px;
    background-color: gray;
    border: none;
}
.cartQuantity{
padding: 6px;

}
.subtotalflex{
    display: flex;
    justify-content: space-between;
}

/* iteminfo styling */

 .iteminfodiv{
margin: 50px;
} 

.descriptionDev{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    position: relative;
    left: 15%;
}


.descriptionImage{
     height: 300px;
    width: 400px; 
    position: relative;
    left: -15%;

}

.descriptionName{
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.descriptionInfo, .namePrice{
    display: flex;
    flex-direction: column;
    gap: 20px;
   
}
.namePrice>:last-child{
    font-size: larger;
    font-weight: bold;
    border-top: solid black 1px;
    width: 50px;
}

.buttonFlex{
  display: flex;
   gap: 20px;
   margin-bottom: 6px;
}

.descriptionButton{
 width: 100px;
 height: 50px;
 background-color: white;
 border-radius: 100px;
 cursor: pointer;
}

.descriptionButton:hover{
    background-color: pink;
    transition: all 0.5s ease-in-out;
    
}
.H2description, .H2review{
    background-color: pink;
    border-bottom: solid black 2px;
   padding: 4px;
}
.descriptionText{
    padding: 20px;
}
.form{
    display: grid;
     margin: 20px;
     gap: 20px;
}
.formInput,.textArea{
background-color: rgb(247, 243, 243);
}
.formInput{
    width: 50%;
    height: 30px;
    border: solid black 2px;
}
.textArea{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;  
  font-size: larger;
  padding: 20px;
}
.formSubmit{
    width: 20%;
    cursor: pointer;
   
}
.ratingSpan{
   font-size: 25px;
   font-weight: bold;
   font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
}


